.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
  display: -webkit-flex;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
// button {
//   -webkit-appearance: none;
//   outline: none;
//   font-family: "Nunito", sans-serif;
//   cursor: pointer;
//   border-radius: 4px;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   -o-border-radius: 4px;
//   -ms-border-radius: 4px;
//   &:hover {
//     transition: 0.5s ease;
//     -webkit-transition: 0.5s ease;
//     -o-transition: 0.5s ease;
//     -ms-transition: 0.5s ease;
//     -moz-transition: 0.5s ease;
//   }
// }
input {
  -webkit-appearance: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}
select {
  -webkit-appearance: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
// .btn {
//   cursor: pointer;
//   border-radius: 4px;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   -o-border-radius: 4px;
//   -ms-border-radius: 4px;
//   &:hover {
//     transition: 0.5s ease;
//     -webkit-transition: 0.5s ease;
//     -o-transition: 0.5s ease;
//     -ms-transition: 0.5s ease;
//     -moz-transition: 0.5s ease;
//   }
// }
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
h5 {
  margin: 0;
  padding: 0;
}
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  color: rgb(29, 28, 28);
  font-size: 11px;
  line-height: 25px;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}
.actionbg {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}
.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.login_wrapper {
  .logo {
    text-align: center;
    a.brand-logo {
      display: inline-block;
      text-align: center;
      font-size: 35px;
      line-height: 1.1em;
      font-weight: 700;
      color: #fff;
      text-transform: capitalize;
    }
  }
  h1 {
    font-size: 50px;
    line-height: 1.1em;
    font-weight: 700;
    color: #3f3a64;
  }
  position: relative;
  z-index: 0;
  padding: 0px;
  display: grid;
  align-items: center;
  //   min-height: 100vh;
  //   background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  &:before {
    content: "";
    // background: rgba(0, 4, 4, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .pos-relative {
    position: relative;
  }
  p.copy-footer-29 {
    color: #eee;
    a {
      color: #fff;
      &:hover {
        color: #fbbb92;
      }
    }
  }
  h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .login-form-content {
    padding-top: 1em;
  }
  input {
    border: 1px solid teal;
    color: #777;
    // background: #fff;
    font-size: 17px;
    // line-height: 28px;
    // padding: 8px 26px;
    width: 100%;
    margin-bottom: 8px;
    // border-radius: 35px;
    outline: none;
    // &:focus {
    //   border: 2px solid #f1c6aa;
    //   box-shadow: none;
    // }
  }
  .btn-style {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: teal;
    border: none;
    // padding: 10px;
    // font-weight: 700;
    // border-radius: 35px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    &:hover {
      background: #fdb485;
      //   transform: translateY(-3px);
    }
  }
  p.already {
    font-size: 17px;
    line-height: 25px;
    color: #495057;
    margin: 25px 0 0;
    text-align: center;
    a {
      font-size: 17px;
      line-height: 25px;
      color: #495057;
      margin: 25px 0 0;
      text-align: center;
      color: #495057;
      font-weight: 700;
      &:hover {
        color: #fbbb92;
      }
    }
  }
  p.remember {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
  }
  .check-remaind {
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      &:checked ~ .checkmark {
        background-color: #fbbb92;
        &:after {
          display: block;
        }
      }
    }
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      input ~ .checkmark {
        background-color: #fbbb92;
      }
    }
    .checkmark {
      &:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #f5f4f2;
    border-radius: 4px;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}
.workinghny-block-grid {
  border-radius: 5px;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  margin: 40px auto;
  background: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d6e1e2;
  margin-bottom: 10px;
}

.login-form {
  a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    background: #eee;
    span {
      margin-right: 8px;
    }
  }
  a.email {
    background: teal;
    color: #fff;
    &:hover {
      background: #239292;
      text-decoration: none;
    }
  }
}

.social-media {
  a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    background: #eee;
    span {
      margin-right: 8px;
    }
  }
  button {
    display: block;
    text-align: center;
    width: 100%;

    border: none;
    // padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    span {
      margin-right: 8px;
    }
  }
  button.ant-btn {
    background: teal;
    color: #fff;
    &:hover {
      background: #314e8a;
    }
  }
  a.gg {
    .fa-google {
      background: conic-gradient(
          from -45deg,
          #ea4335 110deg,
          #4285f4 90deg 180deg,
          #34a853 180deg 270deg,
          #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      padding: 5px;
    }
    background: #ffffff;
    color: #000;
    border: 1px solid #5e86db;
    &:hover {
      background: rgb(250, 244, 244);
      text-decoration: none;
    }
  }
  a.fb {
    background: #3b5998;
    color: #fff;
    &:hover {
      background: #314e8a;
      text-decoration: none;
    }
  }
  a.tw {
    background: #ffffff;
    color: #000;
    border: 1px solid #ea4335;
    &:hover {
      background: #1091e1;
      text-decoration: none;
    }
  }
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .w3l-workinghny-form {
    .workinghny-block-grid {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      width: 100%;
    }
    .login-form-content {
      padding: 0em 0em 2em 0;
    }
    .logo {
      a.brand-logo {
        font-size: 40px;
        margin-bottom: 10px;
      }
    }
    height: auto;
  }
  .workinghny-left-img {
    order: 2;
  }
}
@media (max-width: 667px) {
  .w3l-workinghny-form {
    .align-end {
      padding: 0em;
    }
  }
}
@media (max-width: 480px) {
  .w3l-workinghny-form {
    .logo {
      a.brand-logo {
        font-size: 35px;
      }
    }
    h2 {
      font-size: 22px;
    }
  }
}
@media (max-width: 415px) {
  .w3l-workinghny-form {
    .copyright {
      margin-top: 30px;
    }
  }
}
