.content {
  padding-top: remCal(16);
  @include mq(md) {
    padding-top: remCal(16);
  }
  &.clear-top {
    padding-top: remCal(110);
    @include mq(md) {
      padding-top: remCal(50);
    }
  }
}
